$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-saturated-blue: hsl(237, 23%, 32%);
$blackborder: 1px solid black;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    outline: none;
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

ul {
    list-style: none;
}

.full-img {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100vh;

    .header {
        width: 100%;
        height: 500px;
        position: relative;
        background: url('./../images/bg-pattern-intro.svg'), $light-red;
        background-size: 180% 490%;
        background-position: 30% 52%;
        border-bottom-left-radius: 90px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .border-link {
            width: 120px;
            padding: 10px 0;
            border-radius: 20px;
        }

        .highlighted {
            background-color: $white;
            margin-left: 10px;
            color: $light-red;
            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: white;
            }
        }


        /* 
        *************************************
        LAPTOP NAV
        **************************************
        */
        .navbar {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-sec {
                display: flex;
                margin: 0 5%;
                justify-content: space-between;
                align-items: center;

                .main-logo {
                    color: $white;
                    font-size: 38px;
                    margin-right: 2%;
                }

                .navlink {
                    color: $white;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .navlist {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .navlink {
                        width: 110px;
                        padding: 10px 0;
                        margin-left: 5px;
                        position: relative;

                        // ADDING ARROW DOWN
                        &::after {
                            position: absolute;
                            box-sizing: border-box;
                            display: inline-block;
                            content: url('./../images/icon-arrow-light.svg');
                            margin-left: 5px;
                            top: 20%;
                        }
                    }
                    .laptop-dropdown {
                        position: relative;
                        text-align: left;
                        .dropdown-container {
                            display: none;
                            position: absolute;
                            background-color: white;
                            width: 150px;
                            padding: 10px 0;
                            border-radius: 10px;
                            .dropdown-link {
                                padding: 5px 20px;
                                color: rgb(66, 66, 66);
                                &:hover {
                                    color: black;
                                }
                            }
                        }

                        /*      JAVASCRIPT PURPOSES     */
                        .show {
                            display: block;
                        }
                    }

                    /*      JAVASCRIPT PURPOSES     */
                    .rotate-arrow {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }

            }
        }



        /* 
        *************************************
        MOBILE NAV
        **************************************
        */
        .mobile-nav {
            width: 100%;
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .main-logo {
                color: $white;
                font-size: 38px;
                margin-left: 5%;
            }
            .hamburger-menu {
                display: inline-block;
                width: 30px;
                height: 40px;
                margin-right: 5%;
                cursor: pointer;
                .hamburger-lines {
                    width: 100%;
                    height: 10%;
                    margin-top: 20%;
                    background-color: cornsilk;
                }
            }

            /*      JAVASCRIPT PURPOSES     */
            /* 
            *************************************
             ANIMATE THE HAMBURGER MENU
             **************************************
            */
            .cross {
                .line1 {
                    transform: rotate(-45deg) translate(-9px, 6px);
                }
                .line2 {
                    opacity: 0;
                }
                .line3 {
                    transform: rotate(45deg) translate(-9px, -6px);
                }
            }
        }


        /* 
        *************************************
        MOBILE DROPDOWN
        **************************************
        */
        .mobile-navlinks-sec {
            width: 90%;
            position: absolute;
            top: 20%;
            margin: 0 auto;
            background-color: white;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .navlink{
                color: $very-dark-blue;
                padding: 10px 0;
            }
            .navlist{
                width: 100%;
                .navlink {
                    position: relative;

                        // ADDING ARROW DOWN
                        &::after {
                            position: absolute;
                            box-sizing: border-box;
                            display: inline-block;
                            content: url('./../images/icon-arrow-dark.svg');
                            margin-left: 5px;
                        }
                }

                /*      JAVASCRIPT PURPOSES     */
                .rotate-arrow {
                    &::after {
                        transform: rotate(180deg);
                    }
                }


                .dropdown {
                    width: 100%;
                    margin-bottom: 40px;
                    .dropdown-links {
                        display: none;
                        width: 90%;
                        background-color: rgb(238, 238, 238);
                        margin: 0 auto;
                        padding: 15px 0;
                        .dropdown-link {
                            display: block;
                            color: $very-dark-grayish-blue;
                            margin-bottom: 15px;
                        }
                    }

                    /*      JAVASCRIPT PURPOSES     */
                    .show {
                        display: block;
                    }

                    
                }
            }
            .header-link {
                color: $white;
                background-color: $light-red;
                margin-bottom: 15px;
            }
        }


        /*      JAVASCRIPT PURPOSES     */
        .show-flex {
            display: flex;
        }


        .page-intro {
            margin-top: 100px;
            color: $white;
            text-align: center;
            .page-intro-title {
                font-size: 48px;
                margin-bottom: 20px;
            }

            .page-intro-txt {
                font-size: 14px;
                margin-bottom: 35px;
            }

            .page-intro-links {
                margin-left: 5px;

                &:nth-of-type(2) {
                    color: $white;
                    border: 1px solid white;
                    &:hover {
                        background-color: $white;
                        color: $light-red;
                    }
                }
            }
        }

        /* 
        *************************************
        RESPONSIVENESS
        **************************************
        */
        @media screen and (max-width: 900px){
            .navbar {
                display: none;
            }
            .mobile-nav {
                display: flex;
            }
            .page-intro {
                width: 90%;
                margin: 0 auto;
                margin-top: 70px;
                .page-intro-title {
                    font-size: 35px;
                }
            }
        }
    }



    /* 
    *************************************
        FUTURE SECTION
    **************************************
    */
    .future-section {
        width: 100%;
        padding-top: 100px;
        margin-bottom: 30px;
        overflow: hidden;
        .future-title {
            text-align: center;
            color: $very-dark-blue;
            font-size: 33px;
            margin-bottom: -5%;
        }

        .future-sec-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .future-sec-txt-container {
                width: 45%;
                margin-left: 5%;
                .future-sec-title {
                    color: $very-dark-blue;
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                .future-sec-txt {
                    margin-bottom: 60px;
                    color: $very-dark-grayish-blue;
                    font-size: 14px;
                }
            }

            .future-sec-img-container {
                position: relative;
                right: -15%;
                .mobile-img {
                    display: none;
                }
            }
        }

        /* 
        *************************************
        RESPONSIVENESS
        **************************************
        */
        @media screen and (max-width: 1000px) {
            .future-title {
                margin-bottom: 20px;
            }
            .future-sec-container {
            flex-direction: column-reverse;
            .future-sec-txt-container {
                width: 90%;
                text-align: center;
            }
            .future-sec-img-container {
                right: 0%;
                .desktop-img {
                    display: none;
                }
                .mobile-img {
                    display: block;
                }
            }
            }
        }
    }


    /* 
    *************************************
        STATE SECTION
    **************************************
    */
    .state-section {
        width: 100%;
        height: 300px;
        background: $very-dark-saturated-blue;
        background-image: url("./../images/bg-pattern-circles.svg"); /* fallback */
        background-image: url("./../images/bg-pattern-circles.svg"), linear-gradient($very-dark-gray-blue, $very-dark-saturated-blue);
        background-repeat: no-repeat;
        background-position: -60% 80%;
        border-bottom-left-radius: 90px;
        border-top-right-radius: 90px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .phone-img-container {
            height: 140%;
            width: 30%;
            position: relative;
            top: 5%;
            margin-left: 3%;
        }

        .state-txt-container {
            width: 500px;
            margin-right: 5%;
            color: $white;
            .state-title {
                font-size: 33px;
                margin-bottom: 20px;
            }

            .state-txt {
                font-size: 14px;
                color: rgb(204, 203, 203);
            }
        }

        /* 
        *************************************
        RESPONSIVENESS
        **************************************
        */
        @media screen and (max-width: 700px) {
            background-position: 50% -200%;
            background-size: 120% 90%;
            min-height: 600px;
            margin-top: 150px;
            flex-direction: column;
            .phone-img-container {
                height: 80%;
                width: 95%;
                top: -40%;
                margin: auto;
            }
            .state-txt-container {
                width: 90%;
                margin: auto;
                margin-top: -60%;
                text-align: center;
            }
        }
    }


    /* 
    *************************************
        LAPTOP SECTION
    **************************************
    */
    .laptop-section {
        width: 100%;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: start;
        align-items: center;
        .laptop-img-container {
            position: relative;
            left: -22%;
        }

        .laptop-txt-container {
            width: 90%;
            margin-left: -30%;
            .laptop-sec-title {
                color: $very-dark-blue;
                font-size: 30px;
                margin-bottom: 30px;
            }

            .laptop-sec-txt {
                margin-bottom: 60px;
                font-size: 14px;
                color: $very-dark-grayish-blue;
            }
        }

        /* 
        *************************************
        RESPONSIVENESS
        **************************************
        */
        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .laptop-img-container {
                left: 0;
            }
            .laptop-txt-container {
                margin: auto;
                text-align: center;
            }
        }
    }


    /* 
    *************************************
        FOOTER SECTION
    **************************************
    */
    .footer-section {
        width: 100%;
        background-color: $very-dark-black-blue;
        border-top-right-radius: 90px;
        padding: 60px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        .footer-column {
            margin: 60px 0;
            width: 250px;

            // RESPONSIVENESS
            @media screen and (max-width: 600px) {
                text-align: center;
            }
            
            .footer-logo {
                font-size: 35px;
                color: $white;
                margin-top: -10px;
            }

            .footer-column-head-link {
                color: $white;
                margin-bottom: 30px;
            }

            .footer-navlink {
                margin-bottom: 7px;
                font-size: 13px;
                color: rgb(204, 203, 203);
            }
        }
    }
}