$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-saturated-blue: hsl(237, 23%, 32%);
$blackborder: 1px solid black;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

ul {
    list-style: none;
}

.full-img {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100vh;

    .header {
        width: 100%;
        height: 500px;
        background: url('./../images/bg-pattern-intro.svg'), $light-red;
        background-size: 180% 490%;
        background-position: 30% 52%;
        border-bottom-left-radius: 90px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .border-link {
            width: 120px;
            padding: 10px 0;
            border-radius: 20px;
        }

        .highlighted {
            background-color: $white;
            margin-left: 10px;
            color: $light-red;
            // border: 1px solid transparent;
            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: white;
            }
        }

        .navbar {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-sec {
                display: flex;
                margin: 0 5%;
                justify-content: space-between;
                align-items: center;

                .main-logo {
                    color: $white;
                    font-size: 38px;
                    margin-right: 2%;
                }

                .navlink {
                    color: $white;
                }

                .navlist {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .navlink {
                        width: 110px;
                        padding: 10px 0;
                        margin-left: 5px;
                        position: relative;

                        &::after {
                            position: absolute;
                            box-sizing: border-box;
                            display: inline-block;
                            content: url('./../images/icon-arrow-light.svg');
                            margin-left: 5px;
                            top: 20%;
                        }
                    }
                }

            }
        }

        .page-intro {
            margin-top: 100px;
            color: $white;
            text-align: center;
            .page-intro-title {
                font-size: 48px;
                margin-bottom: 20px;
            }

            .page-intro-txt {
                font-size: 14px;
                margin-bottom: 35px;
            }

            .page-intro-links {
                margin-left: 5px;

                &:nth-of-type(2) {
                    color: $white;
                    border: 1px solid white;
                    &:hover {
                        background-color: $white;
                        color: $light-red;
                    }
                }
            }
        }
    }

    .future-section {
        width: 100%;
        padding-top: 100px;
        margin-bottom: 30px;
        overflow: hidden;
        .future-title {
            text-align: center;
            color: $very-dark-blue;
            font-size: 33px;
            margin-bottom: -100px;
        }

        .future-sec-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .future-sec-txt-container {
                width: 45%;
                margin-left: 5%;
                .future-sec-title {
                    color: $very-dark-blue;
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                .future-sec-txt {
                    margin-bottom: 60px;
                    color: $very-dark-grayish-blue;
                    font-size: 14px;
                }
            }

            .future-sec-img-container {
                position: relative;
                right: -15%;
            }
        }
    }

    .state-section {
        width: 100%;
        height: 300px;
        background: $very-dark-saturated-blue;
        background-image: url("./../images/bg-pattern-circles.svg"); /* fallback */
        background-image: url("./../images/bg-pattern-circles.svg"), linear-gradient($very-dark-gray-blue, $very-dark-saturated-blue);
        background-repeat: no-repeat;
        background-position: -60% 80%;
        border-bottom-left-radius: 90px;
        border-top-right-radius: 90px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .phone-img-container {
            height: 140%;
            width: 30%;
            position: relative;
            top: 5%;
            margin-left: 3%;
        }

        .state-txt-container {
            max-width: 500px;
            margin-right: 5%;
            color: $white;
            .state-title {
                font-size: 33px;
                margin-bottom: 20px;
            }

            .state-txt {
                font-size: 14px;
                color: rgb(204, 203, 203);
            }
        }
    }

    .laptop-section {
        width: 100%;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .laptop-img-container {
            position: relative;
            left: -22%;
        }

        .laptop-txt-container {
            max-width: 500px;
            margin-left: -20%;
            .laptop-sec-title {
                color: $very-dark-blue;
                font-size: 30px;
                margin-bottom: 30px;
            }

            .laptop-sec-txt {
                margin-bottom: 60px;
                font-size: 14px;
                color: $very-dark-grayish-blue;
            }
        }
    }

    .footer-section {
        width: 100%;
        background-color: $very-dark-black-blue;
        border-top-right-radius: 90px;
        padding: 60px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        .footer-column {
            .footer-logo {
                font-size: 35px;
                color: $white;
                margin-top: -10px;
            }

            .footer-column-head-link {
                color: $white;
                margin-bottom: 30px;
            }

            .footer-navlink {
                margin-bottom: 7px;
                font-size: 13px;
                color: rgb(204, 203, 203);
            }
        }
    }
}